footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #f4f4f4bf;
}

.footer {
  background-color: #f4f4f4bf;
  display: flex;
  padding: 10px 0 20px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.footer_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_item p {
  font-size: 12px;
  margin-top: 5px;
}
